{% extends 'base.html' %} 
{% load static %} 

{% block head_title %}Banking System{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center justify-center my-12 md:my-24">

    
    {% comment %} <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3"> {% endcomment %}
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start px-6 text-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4">Welcome to NovaBank</h1>
        <p class="leading-normal mb-4">
            NovaBank is a simple banking system that I developed, offering core features such as depositing and withdrawing money, taking loans, and managing user accounts. Users can create an account, log in, perform transactions, and securely log out. The project is designed to provide a basic yet functional simulation of real banking operations, making it easy to understand and interact with. While the concept is straightforward, it effectively demonstrates key elements of user authentication, transaction handling, and system flow.

        </p>
        
    </div>
    <div class="w-full lg:w-1/2 text-center">
        <img class ="rounded-2xl" src ="{% static './img.png' %}"/>
    </div>
</div>

{% endblock %}